@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/fonts/helvetica-neue/HelveticaNeueCyr-Roman.eot');
  src: local('/fonts/helvetica-neue/HelveticaNeueCyr-Roman'), url('/fonts/helvetica-neue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-neue/HelveticaNeueCyr-Roman.woff') format('woff'), url('/fonts/helvetica-neue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
